name: Terraform Plan + Graph + Approval + Apply (OIDC)

on:
  workflow_dispatch:
    inputs:
      action:
        description: "Select action"
        required: true
        type: choice
        default: plan
        options:
          - plan
          - apply

permissions:
  contents: read
  id-token: write   # Required for OIDC

env:
  TF_WORKING_DIR: .
  TF_VERSION: 1.9.5
  PROJECT_ID: terraform-gcp-lab-001

jobs:
  terraform-plan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud (OIDC)
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/59822759962/locations/global/workloadIdentityPools/github-pool/providers/github-provider
          service_account: terraform-github-sa@terraform-gcp-lab-001.iam.gserviceaccount.com

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TF_VERSION }}

      - name: Terraform Init
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: terraform init

      - name: Terraform Validate
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: terraform validate

      - name: Terraform Plan
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: |
          terraform plan -out=tfplan.binary
          terraform show -json tfplan.binary > tfplan.json

      - name: Terraform Graph (DOT)
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: terraform graph -plan=tfplan.binary > tfplan.dot

      - name: Install Graphviz
        run: sudo apt-get update && sudo apt-get install -y graphviz

      - name: Generate Graph PNG
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: dot -Tpng tfplan.dot -o tfplan.png

      - name: Show graph in workflow summary
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: |
          GRAPH_BASE64=$(base64 -w 0 tfplan.png)
          printf '%s\n' \
          '## Terraform Resource Graph (Plan Review)' \
          '' \
          '<details>' \
          '<summary>Click to expand graph</summary>' \
          '' \
          "<img src=\"data:image/png;base64,${GRAPH_BASE64}\" />" \
          '' \
          '</details>' >> "$GITHUB_STEP_SUMMARY"

      - name: Upload approved plan & graph
        uses: actions/upload-artifact@v4
        with:
          name: terraform-approved-plan
          path: |
            tfplan.binary
            tfplan.json
            tfplan.dot
            tfplan.png
          retention-days: 3

  terraform-apply:
    if: ${{ github.event.inputs.action == 'apply' }}
    runs-on: ubuntu-latest
    needs: terraform-plan

    environment:
      name: production   # Environment approval required

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download approved plan
        uses: actions/download-artifact@v4
        with:
          name: terraform-approved-plan

       permissions:
        contents: read
        id-token: write

      - name: Authenticate to Google Cloud (OIDC)
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/59822759962/locations/global/workloadIdentityPools/github-pool/providers/github-provider
          service_account: terraform-github-sa@terraform-gcp-lab-001.iam.gserviceaccount.com


      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TF_VERSION }}

      - name: Terraform Init
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: terraform init

      - name: Terraform Apply (Approved Only)
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: terraform apply -auto-approve tfplan.binary
